@import 'tailwindcss';
@import 'tw-animate-css';
@import '@resto/config-tailwind/tokens.css';
@import '@resto/config-tailwind/preset.css';

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

html {
  scroll-behavior: smooth;
}
